.bg-category {
  background-color: #09080f0d;
  padding: 8px 10px;
  border-radius: 40px;
}
.bg-category-active {
  background-color: #9538e2;
  color: white;
  font-weight: 700;
  padding: 8px 10px;
  border-radius: 40px;
}
